{% extends "layouts/base.twig" %}
{% block title %} Index {% endblock %}
{% block content %}
<h1> {% if edit == true %} Edit {% else %} New {% endif %} Course </h1>
  <div class="row">
    <form class="col s12">
	<input type="hidden" name="courseId" id="course_id" />
      <div class="row">
        <div class="input-field col s12 m12">
          <i class="material-icons prefix">account_circle</i>
          <input name="courseName" id="course_name" type="text" class="validate">
          <label for="icon_prefix">Course Name</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">event</i>
          <input name="startDate" id="date_start" type="text" class="datepicker">
          <label for="date_start">Start Date</label>
        </div>
	<div class="input-field col s12 m6">
          <i class="material-icons prefix">event</i>
          <input name="endDate" id="date_end" type="text" class="datepicker">
          <label for="date_end">End Date</label>
        </div>
	<div class="input-field col s12 m6">
		<i class="material-icons prefix">school</i>
		<select name="level" id="level">
			<option value="" disabled selected> Choose your option </option>
			<option value="1"> Easy </option>
			<option value="2"> Medium </option>
			<option value="3"> Hard </option>
		</select>
		<label> Difficulty </label>
        </div>
	<div class="input-field col s12 m12">
		<i class="material-icons prefix prefix-check">visibility</i>
		<input name="active" type="checkbox" id="active" class="filled-in" />
	      	<label for="active"> Active </label>
	</div>
	<div class="row"></div>
	<div class="input-field col s5 m5 offset-s7">
		<button type="button" id="save_button" class="btn waves-effect waves-light">Submit
			<i class="material-icons right">send</i>
		</button>
	</div>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="/public/js/courses.js"></script>
	<script>
	$(document).ready( function() {
		var course = new Course();
	{% if edit == true %}
		course.id = '{{ course.courseId }}';
                course.courseName = '{{ course.courseName|escape('js') }}';
                course.definition = '{{ course.definition|escape('js') }}';
                course.startDate =  '{{ course.startDate }}'.replace(/-/g, "/");
                course.endDate =  '{{ course.endDate }}'.replace(/-/g, "/");
                course.level = '{{ course.level }}';
                course.active = '{{ course.active }}';
		console.log(course);
	{% endif %}
		course.initForm();
		$('#save_button').on('click', function() {
			console.log(course);
			course.save();
		});
	});
	
	</script>
{% endblock %}
